@import "../../themes/default.less";
@nav: sysuhikerNav;

.@{nav} {
  height: 64px;
  background: @template-nav-bg-color;
  width: 100%;
  z-index: 970;
  box-shadow: 0 5px 8px fade(#000, 15);
  position: relative;
  top: 0;

  &-logo {
    display: inline-block;
    position: absolute;
    left: 4%;
    width: 150px;
    line-height: 64px;

    & img {
      vertical-align: middle;
      display: inline-block;
    }
  }

  &-user {
    font-size: 14px;
    border-left: 1px solid fade(@line-color, 5) !important;

    & span {
      margin-left: 10px;
    }

    & img {
      width: 30px;
      height: 30px;
      border-radius: 60px;
      vertical-align: middle;
    }
  }

  &-nav {
    float: right;
    line-height: 64px;
    position: relative;
    margin-right: 4%;

    :global {
      & .ant-menu-horizontal {
        border-bottom-color: transparent;
      }

      & .ant-menu {
        background: transparent;
        color: @template-text-color-light;
        line-height: 62px;

        li {
          float: left;
          text-align: center;
          min-width: 100px;

          i {
            transition: none;
          }

          a {
            color: @template-text-color-light;
            text-decoration: none;
          }
        }

        & .ant-menu-sub {
          background: #fff;
          color: fade(#666, 75);
          overflow: hidden;

          li {
            width: 100%;
            padding: 0 20px;
          }

          &menu-title:hover {
            color: inherit;
          }
        }

        .ant-menu-vertical,
        .ant-menu-vertical .ant-menu-item {
          border-right: none;
        }
      }

      & .ant-menu-horizontal > .ant-menu-item-active {
        color: @link-hover-color;
        border-bottom-color: @link-hover-color;
      }
    }
  }
}
