.wrapper {
  &Web {
    margin: 1rem 2%;
    padding: 1rem;
  }

  &Mobile {
    margin: 1rem;
    padding: 1rem;
  }
}

.userCard {
  width: 200px;

  .userFont {
    margin-top: 1rem;

    .genderIcon {
      margin-left: 0.5rem;
    }
  }
}
