.wrapper {
  &Web {
    margin: 1rem 2%;
    padding: 1rem;
  }

  &Mobile {
    margin: 1rem;
    padding: 1rem;
  }
}

.genderIcon {
  margin-left: 0.5rem;
}

.showForm {
  &Item {
    margin: 0.5rem 0;
  }
}

.updateForm {
  &SubmitBtn {
    width: 60%;
    margin-left: 20%;
    height: 3rem;
  }
}

.upload- {
  &avatar {
    width: 150px;
    height: 150px;
  }

  &avatar-uploader {
    width: 150px;
    height: 150px;
    display: block;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    margin: 1rem 0;
  }

  &avatar-uploader-trigger {
    width: 150px;
    height: 150px;
    display: table-cell;
    vertical-align: middle;
    font-size: 28px;
    color: #999;
  }
}
