.warnMessage {
  margin: 1rem;
}

.submitBtn {
  width: 100%;
  height: 3rem;
}
/* ------------- Editor ------------------- */
.editorToolbar {
  width: 100%;
  font-size: 12px;
}

.editorWrapper {
  width: 100%;
  display: block;
  min-height: 300px;
}

.editorEditor {
  min-height: 300px;
  border: 1px solid @link-color;
  padding: 5px;
  border-radius: 2px;
}
