@link-active-color: shade(@link-color, 5%);
@minHeight: 650px;

.logoFont {
  font-size: 24px;
}

.loginBtn {
  width: 100%;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-self: auto;
}

.wrapper {
  background-image: url('../../../assets/login_pic.jpg');
  background-size: cover;
  background-position: center;
  min-height: @minHeight;

  .card {
    margin: 3rem 0;
    background-color: tint(white, 50%);

    .icon {
      .flexCenter;
      font-size: 3rem;
      color: @link-active-color;
      margin-bottom: 0.5rem;
    }

    .slogan {
      .flexCenter;
      margin: 0.5rem 0;
      color: @link-color;
    }
  }
}
